<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.syh.deeepoch.deeec">

	<application
			android:allowBackup="true"
			android:label="@string/app_name"
			android:supportsRtl="true">
		<meta-data android:name="com.syh.deeepoch.deeec.EcApp"
				android:value="IComponentConfig"/>
		<activity
				android:name=".DeeEcActivity"
				android:label="@string/title_activity_dee_ec"
				android:theme="@style/AppTheme.NoActionBar">
		</activity>
	</application>

</manifest>